*{
    padding: 0;
    margin: 30;
    overflow-x: hidden;
}

.title {
    display:flex;
    justify-content:center;
    padding:20px;
    font-family: 'Ubuntu Mono', monospace;
    font-size:40px;
}


.game{
    position:relative;
    width: 800px;
    height: 500px;
    margin: auto;
    background-image:url("images/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.score {
    position:absolute;
    top:10%;
    left:35%;
    color:white;
    font-family: 'Ubuntu Mono', monospace;
    font-size:60px;
}

#scoreSpan {
  font-size:90px;
  font-weight:bold;
}

#character{
    width: 90px;
    height:100px;
    position:relative;
    top: 80%;
    
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 200px;}
}

#block{
    width: 280px;
    height: 250px;
    position: relative;
    top: 35%;
    left: 500px;
    animation: block 0.8s infinite linear;
}
@keyframes block{
    0%{left: 1200px}
    100%{left: -400px}
}
p{
    text-align: center;
}

.image {
    width:100%;
    height:100%;
}

.image2 {
    width:100%;
    height:100%;
}